<div class ="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login</h1>
                    <h5>Please enter credentials to Log in!</h5>
                </div>
                <form>
                    
                <form [formGroup]= "loginForm" (ngSubmit)="onSubmit()" novalidate> <!--missing ngsubmit, not sure of importance currently-->
                    <div class="mb-3">
                    <label for="username">Enter username</label>
                <input type="text" formControlName="username"  placeholder="Username" required/>
                    </div>
                    <div class="mb-3">
                <label for ="p_word">Enter password here</label>
                <input type="password" formControlName="p_word" placeholder="*******" required/>
                    </div>
                <div class="btn"><input type="submit" value="Login"/></div>
                <br>
                </form>
                </form>
                <a routerLink="/register" style="color:yellow">Don't have an account? Click here to Register</a>
            </div>
        </div>
    </div>
</div>
