
<div class ="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Register</h1>
                    <h5>Please fill out registration form!</h5>
                </div>
                <form>
                    
                <form [formGroup]= "registerForm" (ngSubmit)="onSubmit()" novalidate> 
                    <div class="mb-3">
                    <label for="f_name">Enter First Name</label>
                <input type="text" formControlName="f_name"  required/>
                    </div>
                    <div class="mb-3">
                <label for ="l_name">Enter Last Name</label>
                <input type="text" formControlName="l_name" required/>
                    </div>
                    <div class="mb-3">
                        <label for="username">Enter Username</label>
                    <input type="text" formControlName="username"  required/>
                        </div>
                        <div class="mb-3">
                    <label for ="p_word">Enter Password</label>
                    <input type="password" formControlName="p_word" required/>
                        </div>
                        <div class="mb-3">
                            <label for ="email">Enter Email</label>
                            <input type="text" formControlName="email"  required/>
                                </div>
                <div class="btn"><input type="submit" value="Register"/></div>
                <br>
                </form>
                </form>
                <a routerLink="/login" style="color:yellow">Already have an account? Click here to Login</a>
            </div>
        </div>
    </div>
</div>