
<div class="spa">
<nav ngxNavbarDynamicExpand class="navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      (click)="collapse.toggle()"
      aria-controls="main-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span
        class="
          navbar-toggler-icon
          d-flex
          align-items-center
          justify-content-center
        "
      >
      </span>
    </button>
    <h2>Welcome to paradise</h2>
    <ngx-navbar-collapse id="main-nav" #collapse="ngxNavbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/login">Login </a><br>
        </li>
        <li class="nav-item">
          <a routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a routerLink="/inventory">Current Inventory</a>
        </li>
        
      </ul>
    </ngx-navbar-collapse>
  </div>
  
</nav>
<router-outlet></router-outlet>
</div>
<app-profile></app-profile>



