
<p>Hello {{myUser.firstName}} {{myUser.lastName}}. </p>
<p>You are logged in as a {{currentUser.userRole}}</p>
<form (ngSubmit)="onSubmit()">
    <label for="firstName">First Name: </label>
    <input type="text" placeholder={{myUser.firstName}} />
    <br/><label for="lastName">Last Name:  </label>
    <input type="text" placeholder={{myUser.lastName}} />
    <br/>
    <label for="email">Email: </label>
    <input type="text" placeholder={{myUser.email}} />
    <br/>
    <label for="userName">User Name:  </label>
    <input type="text" placeholder={{myUser.userName}} />
    <br/>
    <label for="password">Password: </label>
    <input type="password">
    <br/>
    <label for="password2">Reenter Password: </label>
    <input type="password">
    <br/>
    <div class="btn"><input type="submit" value="Update Profile"/></div>
</form>

<!-- 
<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color:aquamarine">Profile Page</h1>
        
    </div>
</nav>
-->


